body{
    background-color: #042b5f;
}

.logo{
    width: 180px;
    display: inline-block;
}

.logo img{
    width: 100%;
}

#postsContainer .card{
    height: 100%;
}

#postsContainer .title{
    height: 33px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movieCard{
    height: 550px;
    position: relative;
    overflow: hidden;
}

.movieCard img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ratingSection {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(3,37,65);
    padding: 1rem;
    color: #fff;
}



.overviewSection {
    position: absolute;
    top: 30%;
    background: #fff;
    padding: 20px;
    height: 70%;
    transition: all .4s ease-in-out;
    transform: scale(0);
    opacity: 0;
}

.movieCard:hover .overviewSection,
.movieCard:focus .overviewSection,
.movieCard:active .overviewSection{
    transform: scale(1);
    opacity: 1;
}

/* .overviewSection {
    position: absolute;
    top: 120%;
    background: #fff;
    padding: 20px;
    height: 70%;
    transition: all .4s ease-in-out;
    opacity: 0;
}

.movieCard:hover .overviewSection,
.movieCard:focus .overviewSection,
.movieCard:active .overviewSection{
    top: 30%;
    opacity: 1;
} */


#todoContainer i {
    cursor: pointer;
    font-size: 30px;
}